//colors
$pink: hsl(322, 100%, 66%);
$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);
$white: hsl(0, 0%, 100%);

//fonts
$font-stack: 'Open Sans',
sans-serif;
$headings-font: 'Poppins',
sans-serif;

$f_heading1: 1.5em; //24
$f_heading1-large: 2.8125em; //45
$f_heading2: 1.25em; //20 //
$f_heading2-large: 1.5625em; //25px
$f_heading3: 1.125em; //18
$f_heading3-large: 2em; //32

$f_default: 1em;
$f_xLarge: 1.25em;
$f_large: 1.125em; // 18
$f_medium: 0.9375em; //15
$f_small: 0.875em; //14
$f_xSmall: 0.75em; //12
$f_xxSmall: 0.6875em; //11
$f_xxxSmall: 0.625em; //10

$f_regular: 400;
$f_semi-bold: 600;
$f_bold: 700;

$align-center: center;
$align-left: left;
$align-right: right;


//spaces
$xxxSmall: 1rem;
$xxSmall: 1.5625rem;
//$medium: 2.8125rem;
//$large: 3.75rem;
//$xLarge: 4.0625rem;
$xxLarge: 5.375rem;
//$xxxLarge: 6.25rem;

//breakpoints
$breakpoints: ('phone': 48em,
  'tablet': 62em,
  'desktop': 90em) !default;

$transition-hover: all 0.5s linear;