@use '../helpers/variables'as *;
@use '../helpers/mixins'as *;
@use '../base/typography'as *;

.btn {
    font-family: $font-stack;
    font-weight: $f_bold;
    border: none;
    border-radius: 42px;

    &:focus {
        outline: 2px dashed $pink;
    }

    &--white {
        font-size: 10px;
        color: $very-dark-cyan;
        background-color: $white;
        box-shadow: 0 0 9px -2px $grayish-blue;
        padding: 5px 25px;
        transition: $transition-hover;

        @include break-media('tablet') {
            font-size: 14px;
            padding: 15px 65px;
        }
    }

    &--white:hover {
        color: $white;
        background-color: $pink;
        transition: $transition-hover;
    }

    &--pink {
        font-size: 12px;
        color: $white;
        background-color: $pink;
        transition: $transition-hover;
    }

    &--pink:hover {
        color: $pink;
        background-color: $white;
        box-shadow: 0 0 4px $pink;
        transition: $transition-hover;
    }

    &--large {
        //padding: 0.6875rem 3.875rem;
        padding: 11px 61px;

        @include break-media('tablet') {
            padding: 19px 81px;
        }
    }

    &--small {
        //padding: 0.8125rem 36px;
        padding: 10px 41px;
        margin: 24px 74px 0 74px;

        @include break-media('tablet') {
            font-size: 16px;
            padding: 29px 122px;
        }

        @include break-media('desktop') {
            font-size: 20px;
            padding: 29px 100px;
            margin-top: 34px;
        }
    }
}