@use '../helpers/variables'as *;
@use '../helpers/mixins'as *;
@use '../base/typography'as *;

.btn {
    font-family: $font-stack;
    font-weight: $f_bold;
    border: none;
    border-radius: 42px;

    &:focus {
        outline: 2px dashed $pink;
    }

    &--white {
        font-size: $f_xxxSmall;
        color: $very-dark-cyan;
        background-color: $white;
        box-shadow: 0 0 9px -2px $grayish-blue;
        padding: 5px 25px;
        transition: $transition-hover;

        @include break-media('tablet') {
            font-size: $f_small;
            padding: 15px 65px;
        }
    }

    &--white:hover {
        color: $white;
        background-color: $pink;
        transition: $transition-hover;
    }

    &--pink {
        font-size: $f_xSmall;
        color: $white;
        background-color: $pink;
        transition: $transition-hover;
    }

    &--pink:hover {
        color: $pink;
        background-color: $white;
        box-shadow: 0 0 4px $pink;
        transition: $transition-hover;
    }

    &--large {
        padding: 11px 61px;

        @include break-media('tablet') {
            padding: 19px 81px;
        }
    }

    &--small {
        padding: 10px 41px;
        margin: 24px 74px 0 74px;

        @include break-media('tablet') {
            font-size: $f_default;
            padding: 1.875em 7.625em;
        }

        @include break-media('desktop') {
            font-size: $f_xLarge;
            padding: 1.35em 5.15em;
            margin-top: 34px;
        }
    }
}