@use '../helpers/variables'as *;
@use '../helpers/mixins'as *;
@use '../base/typography'as *;

.card {
    background-color: $white;
    box-shadow: 0 0 9px -2px $grayish-blue;
    border-radius: 18px;
    text-align: $align-center;

    @include break-media('phone') {
        display: flex;
        text-align: left;
    }

    &--reverse {
        @include break-media('phone') {
            flex-direction: row-reverse;
        }
    }

    &--primary {
        padding: 55px 40px 36px 40px;
        margin-bottom: 36px;

        @include break-media('phone') {
            padding: 55px 20px 55px 80px;
        }

        @include break-media('tablet') {
            padding: 66px 30px 66px 120px;
        }
    }

    &__img {
        width: 100%;
        padding-bottom: 55px;

        @include break-media('phone') {
            width: 37%;
            padding-bottom: 0;
        }
    }

    &__info {

        @include break-media('phone') {
            align-self: center;
            padding-right: 90px;
        }

        @include break-media('tablet') {
            padding-right: 180px;
        }

        &--padding {
            padding-right: 0;
            padding-left: 90px;

            @include break-media('phone') {
                padding-left: 160px;
            }
        }

        &--header {
            padding-bottom: 1rem;
        }
    }

    &:nth-last-of-type(2) {
        margin-bottom: 118px;

        @include break-media('desktop') {
            margin-bottom: 158px;
        }
    }

    &--cta {
        padding-top: 50px;
        padding-bottom: 40px;
        margin-right: -8px;
        margin-left: -8px;

        @include break-media('phone') {
            flex-direction: column;
            align-items: center;
            width: 80%;
        }

        @include break-media('desktop') {
            padding-top: 72px;
            padding-bottom: 50px;
            width: 65%;
        }
    }
}