@use '../helpers/variables'as *;
@use '../helpers/mixins'as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

body {
  font-family: $font-stack;
  font-weight: 400;
  color: $very-dark-cyan;
}

h1,
h2,
h3 {
  @include headings;
}

h1 {
  font-size: $f_heading1;

  @include break-media('desktop') {
    font-size: 45px;
  }
}

h2 {
  font-size: $f_heading2;

  @include break-media('tablet') {
    font-size: $f_heading2-large;
  }
}

h3 {
  font-size: $f_heading3;

  @include break-media('desktop') {
    font-size: 32px;
  }
}

p {
  line-height: 1.6;
}

.p {

  &--hero {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include break-media('desktop') {
      font-size: 18px;
      padding-top: 40px;
    }
  }

  &--card {
    color: $grayish-blue;
    font-size: $f_medium;

    @include break-media('phone') {
      flex-direction: row-reverse;
    }

    @include break-media('tablet') {
      font-size: 18px;
    }
  }

  &--copy {
    text-align: center;
    font-size: $f_xSmall;

    @include break-media('desktop') {
      text-align: right;
    }

    a {
      color: $very-pale-cyan;
      transition: $transition-hover;
    }

    a:hover {
      color: $pink;
      transition: $transition-hover;
    }
  }

  &--contact {
    font-size: 18px;
    padding-left: 23px;

    @include break-media('desktop') {
      font-size: 15px;
    }
  }

  &__about--font {

    li {
      font-size: 15px;
    }
  }
}