@use '../helpers/variables'as *;
@use '../helpers/mixins'as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

body {
  font-family: $font-stack;
  font-weight: $f_regular;
  color: $very-dark-cyan;
}

h1,
h2,
h3 {
  @include headings;
}

h1 {
  font-size: $f_heading1;

  @include break-media('desktop') {
    font-size: $f_heading1-large;
  }
}

h2 {
  font-size: $f_heading2;

  @include break-media('tablet') {
    font-size: $f_heading2-large;
  }
}

h3 {
  font-size: $f_heading3;

  @include break-media('desktop') {
    font-size: $f_heading3-large;
  }
}

p {
  line-height: 1.6;
}

a {
  color: $very-pale-cyan;
  transition: $transition-hover;
}

a:hover {
  color: $pink;
  transition: $transition-hover;
}

.p {

  &--hero {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include break-media('desktop') {
      font-size: $f_large;
      padding-top: 40px;
    }
  }

  &--card {
    color: $grayish-blue;
    font-size: $f_medium;

    @include break-media('phone') {
      flex-direction: row-reverse;
    }

    @include break-media('tablet') {
      font-size: $f_large;
    }
  }

  &--copy {
    text-align: $align-center;
    font-size: $f_xxSmall;

    @include break-media('desktop') {
      text-align: $align-right;
    }
  }

  &--contact {
    font-size: $f_large;
    padding-left: 23px;

    @include break-media('desktop') {
      font-size: $f_medium;
    }
  }

  &__about--font {

    li {
      font-size: $f_medium;
    }
  }
}