@use '../helpers/variables'as *;
@use '../helpers/mixins'as *;
@use '../base/typography'as *;
@use '../components/buttons'as *;
@use '../components/icons'as *;

.app-footer {
    background-color: $very-dark-cyan;
    padding: 137px 15px 24px 15px;
    color: $very-pale-cyan;

    @include break-media('phone') {
        padding: 187px 78px 43px 120px;
    }

    &__logo {
        padding-bottom: 28px;

        svg {
            @include break-media('desktop') {
                width: 242px;
                height: 43px;
            }
        }
    }

    &__info {


        @include break-media('desktop') {
            display: flex;
            padding-right: 126px;

        }

        .about--container {

            @include break-media('desktop') {
                display: flex;
            }
        }

        .info {

            &--container {
                ul {
                    padding-bottom: 64px;
                }

                @include break-media('desktop') {
                    flex: 1 0;
                }
            }

            &--padding {
                padding-left: 27px;
            }

            &--padding-small {
                padding-left: 23px;
            }

            &__contact {
                display: flex;

                &--padding {
                    padding-bottom: 27px;
                }

                .icon--padding {
                    align-self: flex-start;
                }
            }

            &__icon {
                &-location {
                    width: 18px;
                    height: 20px;
                }

                &-phone {
                    width: 21px;
                    height: 21px;
                    align-self: center;
                }

                &-mail {
                    width: 22px;
                    height: 19px;
                    align-self: center;
                }
            }
        }

        .links {

            &-about {
                li {
                    padding-bottom: 22px;
                    cursor: pointer;

                    @include break-media('desktop') {
                        padding-left: 120px;
                    }
                }

                li:hover {
                    color: $pink;
                    transition: $transition-hover;
                }

                @include break-media('desktop') {
                    flex: 1 0;
                }
            }

            &-social {
                display: flex;
                justify-content: center;
                padding-bottom: 23px;
                padding-top: 34px;

                @include break-media('desktop') {
                    flex: 1 0;
                    padding-top: 0;
                    justify-content: flex-end;
                }
            }
        }
    }

}