@use '../helpers/variables'as *;
@use '../helpers/mixins'as *;
@use '../base/typography'as *;
@use '../components/buttons'as *;

.app-header {
    background: url(/src/images/bg-hero-mobile.svg);
    background-color: $very-pale-cyan;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: $align-center;

    @include break-media('phone') {
        text-align: $align-left;
    }

    @include break-media('tablet') {
        background: url(/src/images/bg-hero-desktop.svg);
        background-color: $very-pale-cyan;
        background-repeat: no-repeat;
        background-size: 100%;
        text-align: $align-center;
    }

    &__nav {
        padding-top: $xxSmall;
        padding: $xxSmall $xxxSmall $xxLarge $xxxSmall;
        display: flex;
        justify-content: space-between;
        align-items: $align-center;

        @include break-media('tablet') {
            padding: 50px 78px 67px 78px;
        }

        svg {

            @include break-media('tablet') {
                width: 200px;
                height: 40px;
            }
        }
    }

    &__hero {
        display: flex;
        flex-direction: column;
        align-items: $align-center;
        padding-left: 2.375rem; //38
        padding-right: 2.375rem;
        padding-top: 0;
        padding-bottom: 34px;

        @include break-media('phone') {
            flex-direction: row;
        }

        @include break-media('tablet') {
            padding-left: 78px;
            padding-right: 78px;
            padding-bottom: 68px;
        }

        @include break-media('desktop') {
            padding-bottom: 145px;
        }
    }

    &__img {
        width: 100%;

        @include break-media('phone') {
            width: 53%;
        }
    }

    &__info {
        padding-bottom: 56px;

        @include break-media('phone') {
            padding-right: 37px;
            padding-bottom: 0;
        }

        @include break-media('tablet') {
            padding-bottom: 0;
        }

        @include break-media('desktop') {
            padding-right: 75px;
            padding-top: 100px;
        }
    }
}